<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>SoundLock</title>
<script src="/jquery1.4.2.js"></script>
</head>

<body>
  <h1>SoundLock</h1>
  <p>kaputt</p>

</body>
</html>


